/*-----CSS RESET-----*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 75%;
    max-width: 600px;
    font-family: 'monospace', courier new;
    background: #1c2833;
    color: #1b2632;
    line-height: 1.8em;
    margin: auto;
    
    background-image: url("http://www.ideasphere.com/wp-content/uploads/2016/08/Savin-NY-Website-Background-Web-1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachment: fixed;
}

header {
    margin: 6em 0;
}

header h2{
    font-style: underline;
    font-size: 2.25em;
    color: #1b2632;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    color: #58d68d;
    text-align: center;
    font-size: 2.25em;
    
}

/*-----TYPOGRAPHY-----*/

p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.5;
}

p {
    font-family: 'monospace', courier new;
}

blockquote {
    padding: 1em 0 3em 0;
    font-size: 1em;
    line-height: 1.3em;
    color:#ff5733;
}

blockquote cite {
    font-size: .75em;
}

/*-----LINKS-----*/

a {
    color: #1b2632;
    text-decoration: none;
}

a:hover {
    color: #566573;
    border-bottom: 1px dotted;
}

/*-----NAVIGATION-----*/

nav{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    background-color: #566573;
    padding:1em 0;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li {
    display:inline;
    margin:20px;
}

nav a:hover {
    border-bottom: none;
    color:#900c3f;
}

/*-----IMAGES-----*/

img {
    display:block;
    margin: 4em auto;
    padding:0;
    max-width:100%;
}
    
.col-md-12 img {width:auto}

/*-----FOOTER-----*/

footer {
    text-align: center;
    font-size: 1.75em;
    line-height: 1.5em;
    padding-bottom: 2em;
}

footer hr {
    margin-bottom: 3em 0;
}

footer p {
    margin-top:2em;
}